  body{ background-color: rgb(250, 243, 243);
    font-family: Arial, Helvetica, sans-serif;font-size: small;
}
.box-1 {
   background-color:#1d0c70;
    width:200px;
    height: 750px;
    float:left;
border-radius:5px;
padding: 10px;
justify-content: center;
} 
.foto{text-align: center;}
.h2{text-align: center;}
.idio{text-align: center;}
.soft{text-align: center;}
.btn{text-align: center;}
.btn2 {color:rgb(#f0f0f3);text-align:center;
  padding-top:10px; padding-bottom: 20px;
  border-radius: 25px;
  width: 130px ;
  height: 40px;
  border-style:solid ; border-color:#f0f0f3;
  font:arial;font-size:large;
  background-color:rgb(45, 143, 176);
  margin-bottom: 15px;
  }
 .box-2 {
    background-color:rgb(45, 143, 176);
     width: 300px;
    height: 750px;
    float:left;
    border-radius: 5px;
padding: 10px;
justify-content: center

}  
.h1{text-align: center;}
.puesto{text-align: center;}
.exp{text-align: center;}
.form{text-align: center;}
.hide{display:none;}
.show{display:block;}
.ancla{text-align: center; margin-top:20px ;}






